@{
    ViewData["Title"] = "Політика приватності";
}
<h1>@ViewData["Title"]</h1>

<p>Цей веб-застосунок я власністю Бобиля Мирослава у повному обсязі. Політика визначається ним і може бути змінена в будь який момент.</p>
